@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #14b8a6; 
  --color-secondary: #0f172a; 
  
  --animate-spotlight: spotlight 2s ease .75s 1 forwards;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
  
  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }
    100% {
      opacity: 1;
      transform: translate(-50%,-40%) scale(1);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@layer base {
  body {
    @apply bg-black text-white antialiased selection:bg-teal-500/30;
  }
}

@layer components {
  .glass-container {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-3xl overflow-hidden;
  }
}